/* Main CSS file */

@import '_example/_example.css';

@font-face {
    font-family: 'MyWebFont';
    src: url('./pixel.ttf')  format('truetype'),
}

.cel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.UIAmmo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.spinner {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-repeat: no-repeat;
    background-size: calc(16 * 100px) 100px;
    background-position: 0px center;
    image-rendering: pixelated;
    animation: spinner 0.5s infinite steps(16);
}

@keyframes spinner {
    from {
        background-position: 0px center;
    }
    to {
        background-position: -1600px center;
    }
}

.LoadScreen {
    animation: GoInOp ease 2s;
}

@keyframes GoInOp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes GoInOpSc {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}

.MainMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: GoInOpSc ease 2s;
    z-index: 2;
    background-color: #000;
}

.MenuButtons {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    z-index: 3;
}

.MenuButtons button {
    width: 200px;
    height: 50px;
    background-color: #e2e2e2;
    border: solid 5px #cacaca;
    font-family: 'MyWebFont';
    font-size: 20px;
}