/* Main CSS file */

@import '_example/_example.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'VOM';
    src: url(https://raw.githubusercontent.com/PanDonut/DuckEngine/main/src/assets/css/VCR_OSD_MONO_1.001.woff) format('woff');
}

@font-face {
    font-family: 'Pixel';
    src: url(https://raw.githubusercontent.com/PanDonut/DuckEngine/main/src/assets/css/Minecraft.woff) format("woff");
}

.cel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 7;
}

.UIAmmo {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 7;
    width: 130px;
    height: 79px;
}

.UIAmmo img {
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120%;
  height: 100%;
  image-rendering: pixelated;
  object-position: right bottom;
}

.UIAmmo h2, .UIAmmo h3 {
  z-index: 10;
}

.Representation_3D {
    position: fixed;
    z-index: 7;
    left: 0px;
    bottom: 0px;
    width: 200px;
    height: 200px;
}

.spinner {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-repeat: no-repeat;
    background-size: calc(16 * 100px) 100px;
    background-position: 0px center;
    image-rendering: pixelated;
    animation: spinner 0.5s infinite steps(16);
}

@keyframes spinner {
    from {
        background-position: 0px center;
    }
    to {
        background-position: -1600px center;
    }
}

.LoadScreen {
    animation: GoInOp ease 2s;
}

@keyframes GoInOp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes GoInOpSc {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}

.MainMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: GoInOpSc ease 2s;
    z-index: 2;
    background-color: #000;
}

.BG {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 100%);
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: BG 0.5s ease;
}

@keyframes BG {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes BG1 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Settings {
    animation: BG1 0.7s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vh;
    background-color: #191919;
    z-index: 5;
    overflow-y: auto;
}

.MenuButtons {
    position: fixed;
    top: 150px;
    left: 200px;
    width: 230px;
    height: 300px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MenuButtons button {
    width: 230px;
    height: 60px;
    background-color: #d3d3d3;
    border: solid 5px #acacac;
    font-family: 'Pixel', sans-serif;
    font-size: 22px;
}

button:focus {
    outline: none;
}

.PlayMenu {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 55vh;
    background-color: #191919;
    z-index: 5;
    animation: BG1 0.7s ease;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 420px;
}

.PlayMenu .PlayMenuSelect {
    display: grid;
    grid-template-rows: 230px 50px 50px 50px;
}

.PlayMenuSelect h2 {
    font-family: 'Pixel';
    font-size: 18px;
    font-weight: 500;
    width: 230px;
    text-align: center;
}

.PlayMenu .PlayMenuSelect img {
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.GameViewport {
    z-index: 6;
}

.LoadScreen {
    z-index: 1;
    position: fixed;
}

.Settings {
    padding: 10px;
}

.SettingsLine {
    display: grid;
    grid-template-columns: calc(90% - 100px) 100px;
    justify-content: center
}

.TF {
    display: flex;
    width: 70px;
    object-fit: contain;
    position: relative;
    align-items: center;
}

.TF img {
    object-fit: contain;
    image-rendering: pixelated;
    position: relative;
    width: 70px;
}

.TF img:last-child {
    position: absolute;
    width: 70px;
    transition: 1s ease;
}

.H {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 25px;
    transform: translate(-50%,-50%);
    z-index: 7;
}

.H div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-left: 3px solid #fff;
    border-radius: 20px;
}

.H div:last-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-right: 3px solid #fff;
    border-radius: 20px;
}


.ExtenstionInstaller {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    backdrop-filter: blur(5px);
  }
  
  .ExtenstionView {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    height: 80vh;
    background-color: #eee;
    border-radius: 0px;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .ViewObject {
    position: relative;
    top: 0;
    left: 0;
    width: 65vw;
    height: 100%;
    flex-shrink: 0;
    transition: 0.25s ease;
  }
  
  .ViewObject svg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 40vh;
  }
  
  .ExtenstionButtonLine {
    position: absolute;
    bottom: 10px;
    left: 3%;
    width: 94%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .file-input {
    display: inline-block;
    text-align: left;
    background: transparent;
    height: 60vh;
    width: 50vw;
    position: absolute;
    border-radius: 3px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }
  
  .file-input > .button {
    display: inline-block;
    cursor: pointer;
    background: transparent;
    padding: 8px 16px;
    border-radius: 0px;
    margin-right: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    background: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(0deg, #ddd 50%, transparent 50%), linear-gradient(0deg, #ddd 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
  }
  
  .file-input:hover > .button {
    color: black;
    animation: dash 5s linear infinite;
  }
  
  .file-input:-moz-drag-over > .button {
    color: black;
    animation: dash 5s linear infinite;
  }
  
  .file-input > .label {
    color: #333;
    white-space: nowrap;
    opacity: .3;
  }
  
  .file-input.-chosen > .label {
    opacity: 1;
  }
  
  @keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
  }
  
  .InstallText {
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .cls-1 {
    fill:none;
  }
  
  #installing:hover {
    cursor: wait;
  }

  .PluginList {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vh;
    background-color: #191919;
    overflow-y: auto;
    z-index: 5;
    animation: BG1 0.7s ease;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
    gap: 20px;
  }
  
  .PluginItem {
    width: 100%;
    height: 70px;
    background-color: transparent;
    border-radius: 11px;
    position: relative;
    color: #fff;
  }
  
  .PluginItem img {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 10px;
    top: 10px;
    object-fit: cover;
    border-radius: 10px;
    border: none;
  }
  
  .PluginItem h3 {
    position: absolute;
    font-weight: 500;
    font-size: 17px;
    left: 72px;
    top: 14px;
    margin: 0;
  }
  
  .PluginItem h4 {
    position: absolute;
    color: #777;
    left: 72px;
    top: 35px;
    margin: 0;
  }
  
  .PluginItem h5 {
    position: absolute;
    color: #444;
    right: 92px;
    top: 25px;
    margin: 0;
    font-weight: 500;
  }
  
  .PluginItem button {
    position: absolute;
    color: #444;
    right: 13px;
    top: 21px;
    margin: 0;
    font-weight: 500;
    border: none;
    background-color: var(--brand);
    color: #fff;
    border-radius: 6px;
    height: 30px;
    width: 60px;
  }

  .ClipCount {
    margin: 0;
    position: absolute;
    right: 45px;
    font-size: 47px;
    font-family: 'Pixel', sans-serif;
    bottom: 5px;
  }
  .AmmoCount {
    margin: 0;
    position: absolute;
    right: 5px;
    font-size: 26px;
    font-family: 'Pixel', sans-serif;
    bottom: 8px;
  }

  .KillList {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 50vh;
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 7px;
    transition: 0.25s ease;
  }

  @keyframes kill {
    from {
      top: 49px
    }
    to {
      top: 10px;
    }
  }

  .KillList .Kill {
    position: relative;
    width: 100%;
    height: 32px;
    background-color: #000000aa;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Pixel", sans-serif;
    transition: 0.25s ease;
  }

  .KillList .Kill p {
    font-family: "Pixel", sans-serif;
  }

  .KillList .Kill img {
    position: relative;
    width: 25px;
    object-fit: contain;
    height: 25px;
  }

  .Points {
    position: fixed;
    z-index: 12;
    width: 40vw;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .Points p {
    position: relative;
    width: 90px;
    height: 32px;
    margin: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: middle;
    padding-top: 10px;
  }
  .Points p:first-child {
    background-color: #4a8bed;
  }
  .Points p:last-child {
    background-color: #3f9b26;
  }

  .Viewmodel {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }

  .Health {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 120px;
    height: 120px;
    z-index: 12;
    display: flex;
  }

  .Health img {
    position: relative;
    left: 0;
    top: 0;
    height: 120px;
    width: 120px;
    image-rendering: pixelated;
  }
  .Health p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #000;
    font-size: 32px;
    text-align: center;
    width: 100px;
    vertical-align: middle;
    font-family: 'Pixel', sans-serif;
    margin-top: 3px;
    margin-left: 1px;
  }

  .redFlash {
    animation: flash 1s alternate-reverse infinite;
  }

  @keyframes flash {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .Red {
    position: absolute !important;
    left: 0 !important;
  }

  .ElementControl {
    outline: solid 4px;
    z-index: 999;
    position: relative;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .ElementData {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 20px;
    padding-right: 7px;
    padding-left: 4px;
  }

  input[type="text"] {
    width: 100%;
    height: 100%;
  }